**/.vscode
/*.db
**/__pycache__/*
*.png
!web-ui/favicon.png
!web-ui/favicon_192x192.png
!web-ui/favicon_512x512.png
**/node_modules/*
/.pytest_cache
/venv
**/generated/*
.env
/backups/*
**/nginx_processed.conf
