.row-inactive {
  background-color: #e0e0e0;
  td {
    opacity: 0.7;
  }
}

.row-retired {
  background-color: #f0f0f0;
}

.row-at-risk {
  background-color: #fae8dc;
}

.row-gold {
  background-color: #ffe993; // Brighter gold
}

.row-silver {
  background-color: #d9d9d9; // Brighter silver
}

.row-bronze {
  background-color: #eccfa0; // Brighter bronze
}

td.text-gold {
  font-weight: bolder;
  color: #8c7300;
}

td.text-silver {
  font-weight: bolder;
  color: #7a7a7a;
}

td.text-bronze {
  font-weight: bolder;
  color: #8c5a1e;
}

.row-middle {
  border-bottom-width: 2.5px !important;
  border-bottom-color: #7a7a7a !important;
}

.column-actual {
  background-color: #e9f3ff;
}

.row-current {
  position: relative;
  z-index: 1;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.18);
  transition: box-shadow 0.2s;
}

.cell-best {
  font-weight: bold;
}

.cell-personal-best {
  color: #00aa00;
}

.cell-not-improved {
  color: #ff9100;
}

.next-event {
  background-color: #d0ebff;
}

.current-event {
  background-color: #d4f8e8;
}

.cell-overtake {
  background-color: #d4f8e8;
  td {
    color: #007700 !important;
  }
}

.cell-fell-behind {
  background-color: #ffe6b3;
  td {
    color: #a65c00 !important;
  }
}
