.row-inactive {
  background-color: #e2e2e2;
  color: #7a7a7a;
}

.row-retired {
  background-color: #f0f0f0;
}

.row-at-risk {
  background-color: #fae8dc;
}

.row-gold {
  background-color: #ffe993; // Brighter gold
}

.row-silver {
  background-color: #d9d9d9; // Brighter silver
}

.row-bronze {
  background-color: #eccfa0; // Brighter bronze
}

td.text-gold {
  font-weight: bolder;
  color: #8c7300;
}

td.text-silver {
  font-weight: bolder;
  color: #7a7a7a;
}

td.text-bronze {
  font-weight: bolder;
  color: #8c5a1e;
}

.row-middle {
  border-bottom-width: 2.5px !important;
  border-bottom-color: #7a7a7a !important;
}

.column-actual {
  background-color: #e9f3ff;
}

.row-current {
  & > & thead th {
    border-bottom-width: 0px !important;
  }
  td:first-child {
    border-left-width: 1px;
    border-left-color: black;
  }
  td {
    border-top-width: 1px;
    border-top-color: black;
    border-bottom-width: 1px;
    border-bottom-color: black;
  }
  td:last-child {
    border-right-width: 1px;
    border-right-color: black;
  }
}

.disable-border-bottom {
  th,
  td {
    border-bottom-width: 0px;
  }
}

.cell-best {
  font-weight: bold;
}

.cell-personal-best {
  color: #00aa00;
}

.cell-not-improved {
  color: #ff9100;
}

.next-event {
  background-color: #d0ebff;
}

.current-event {
  background-color: #d4f8e8;
}

.cell-overtake {
  background-color: #d4f8e8;
  td {
    color: #007700 !important;
  }
}

.cell-fell-behind {
  background-color: #ffe6b3;
  td {
    color: #a65c00 !important;
  }
}
